@model MyPlaces.Models.Place

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Place</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PlaceName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PlaceName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.streetAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.streetAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.residents)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.residents)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.visitFrequency)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.visitFrequency)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.placeType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.placeType)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
