@model MyPlaces.Models.Place
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Adding Places</title>
</head>
<body style="background-color:black; margin:0px; font-family:arial, helvetica, sansserif;">
    <div>
        <table style="width:100%;"
               border="0">
            <tr>
                <td style="background-image:url(images/header_bg.jpg); background-repeat:repeat-x;height:200px">
                    <table style="width:100%;" border="0">
                        <tr>
                            <td style="width:261px;height:200px; vertical-align:top">
                                <img src="../../images/SideImage1.jpg" width="261" height="190" />
                            </td>
                            @Html.Partial("_titleOnPage")
                            <td style="width:312px; text-align:right; vertical-align:bottom">
                                <img src="../../images/SideImage2.jpg" width="312" height="173" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height:35px;  background-color:#df0005;padding-left:10%;">
                    <b style="color:#f5eb8e;">
                        Add a Place &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; 
                        @Html.Partial("_NavLinks")                
                    </b>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width:100%; background-color:black " border="0">
                        <tr>
                            <td>&nbsp;</td>
                            <td style="background-color:#5D0F05">
                                <table style="width:98%;" border="0">
                                    <tr>
                                        <td style="vertical-align:top;"
                                            <article>


@{
    ViewBag.Title = "Add Place";
}
<h2>Add Place</h2>
@using (Html.BeginForm())
{
        @Html.ValidationSummary(true)
    <fieldset>
        <legend> Place </legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.PlaceName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlaceName)
            @Html.ValidationMessageFor(model => model.PlaceName, "*")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.streetAddress)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.streetAddress)
            @Html.ValidationMessageFor(model => model.streetAddress, "*")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.residents)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.residents,5,20,null)
            @Html.ValidationMessageFor(model => model.residents)
        </div>        
        <div class="editor-label">
            @Html.LabelFor(model => model.visitFrequency)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.visitFrequency)
            @Html.ValidationMessageFor(model => model.visitFrequency)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.placeType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.placeType, (SelectList)ViewBag.category, string.Empty)
            @Html.ValidationMessageFor(model => model.placeType)
        </div>

        <p> <input type="submit" value="Add" /></p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@Html.Partial("_BottomPartial")
